<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="unit">
            <file>tests/CentralMaskerTest.php</file>
            <file>tests/EncryptionTest.php</file>
            <file>tests/PayloadHelperUtilsTest.php</file>
            <file>tests/LoggerContextArrayTest.php</file>
            <file>tests/RequestLogContextSanitizationTest.php</file>
            <file>tests/Encrypted2xxErrorHandlingTest.php</file>
            <file>tests/TokenCacheTest.php</file>
            <file>tests/SignatureVerifierTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
